{% extends "home_app/home.html" %}
{% block content %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1>My Life Calendar</h1>
    </div>
  </section> 
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="text-left">
        <div class="row">
          <div class="col-sm-12">
            <h3>Inputs</h3>
            <form method="post" action="" role="form" novalidate>
              {% csrf_token %}
              <label for="birth-date">Birth Date:</label>
              <input type="date" name="birth-date" value="2000-01-01" min="1900-01-01" max="2100-12-31">
              <br>
              <br>
              <label for="life-expectancy">Life Expectancy:</label>
              <input type="number" name="life-expectancy" value="83" min="1" max="150" size="6">
              <br>
              <br>
              <input type="submit" name="submit-button" class="btn btn-info btn-send" value="Submit">
            </form>
          </div>
        </div>
        <hr>
        <!-- {{ html_table|pprint}} -->

        {% if html_table|length %}

        <h3>Graph</h3>

          <!-- {{ day_data_labels|pprint}} -->
          <!-- {{ day_data_data|pprint}} -->

          <div id="container" style="width: 50%;">
            <canvas id="pie-chart"></canvas>
          </div>

          <script type="text/javascript">
            var pie_chart_config = {
              type: 'pie',
              data: {
                datasets: [{
                  data: {{ day_data_data|safe }},
                  backgroundColor: ['LightPink', 'LightGreen'
                ],
                  label: 'Days Distribution'
                }],
                labels: {{ day_data_labels|safe }}
              },
              options: {
                responsive: true,
                title: {
                  display: true,
                  text: 'Days Distribution'
                },
                animation: {
                  animateScale: true,
                  animateRotate: true
                }
              }
            };

            window.onload = function() {
              var ctx = document.getElementById('pie-chart').getContext('2d');
              window.myPie = new Chart(ctx, pie_chart_config);
            };
          </script>

          <br>
          <h3>Table</h3>

          {{ html_table }}

          <br>

          <form method="post" action="" role="form" novalidate>
            {% csrf_token %}
            <input type="submit" name="download-button" class="btn btn-info btn-send" value="Download">
          </form>
        {% else %}
            <p>Enter some values</p>
        {% endif %}
      </div>
    </div>    
  </div>

{% endblock %}
